body{
    color:aqua
    background:aquamarine
    font-family:antiquewhite
    margin: 0px;
    margin-bottom:100px;
}

.chamada{
    background: black(156, 156, 213)
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

header{
font-size: 35px;
color: brown;
border-bottom: solid 3px white;
padding: 20px
}

h1{
    font-size: 40px;
.chamada-texto
margin
.categoria
   margin-top: 50px;
   padding-left: 20px;
   padding-right: 20px;
}
.categoria-videos{
display: flex;
owerflow-x: auto;
gap: 10px;
}
.categoria-videos.img{
    opacity: 0,5;
    height: 200px;
}
.categoria-videos ing:hover{
    opacity: 1.0;
    border: 3px solid paleturquoise;
}